/*Colour Palette */
body {
  background: #A74723;
}

.container {
  position: relative;
  margin: auto;
  height: 300px;
  width: 400px;
  top: 30px;
  background: none;
}

.typewriter {
  position: absolute;
  height: 120px;
  width: 300px;
  left: 50px;
  top: 80px;
  background: #191919;
  border-bottom: 30px solid #000;
  box-shadow: 0px 10px 10px #2f2f2f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.typewriter:after {
  position: absolute;
  content: "";
  height: 80px;
  width: 260px;
  left: 10px;
  top: 110px;
  border: 10px solid #383C3D;
  border-top: transparent;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.typewriter:before {
  position: absolute;
  content: "";
  height: 80px;
  width: 260px;
  left: 10px;
  top: 118px;
  border: 10px solid #191919;
  border-bottom: 15px solid #191919;
  border-top: transparent;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.top {
  position: absolute;
  height: 70px;
  width: 320px;
  left: 40px;
  top: 55px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #2f2f2f;
  z-index: 2;
}

.mid {
  position: absolute;
  height: 100px;
  width: 140px;
  left: 90px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom: 10px solid #383C3D;
  background: repeating-linear-gradient(to right, #000, #000 3px, #191919 3px, #191919 6px);
}

.mid:before {
  position: absolute;
  content: "";
  width: 140px;
  height: 50px;
  top: -30px;
  border-bottom: 5px solid #000;
  border-radius: 50%;
  background: #191919;
}

.mid:after {
  position: absolute;
  content: "";
  height: 100px;
  width: 140px;
  top: 20px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom: 3px solid #e0be66;
}

.drum {
  position: absolute;
  height: 35px;
  width: 240px;
  left: 80px;
  top: 25px;
  background: linear-gradient(to bottom, #191919, #000);
  border-left: 2px solid #e0be66;
  border-right: 2px solid #e0be66;
  z-index: 3;
}

.drum:after {
  position: absolute;
  content: "";
  height: 7px;
  width: 20px;
  left: 25px;
  top: -10px;
  background: #191919;
}

.drum:before {
  position: absolute;
  content: "";
  height: 7px;
  width: 20px;
  left: 195px;
  top: -10px;
  background: #191919;
}

.bar {
  position: absolute;
  height: 5px;
  width: 350px;
  left: 25px;
  top: 40px;
  background: #2f2f2f;
}

.bar:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 236px;
  left: 57px;
  top: -22px;
  border: 2px solid #2f2f2f;
}

.knob-left {
  position: absolute;
  height: 40px;
  width: 10px;
  top: -17px;
  background: repeating-linear-gradient(to bottom, #191919, #191919 1px, #2f2f2f 1px, #2f2f2f 2px);
}

.knob-left:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 3px;
  left: -3px;
  top: 5px;
  background: #2f2f2f;
}

.knob-right {
  position: absolute;
  height: 40px;
  width: 10px;
  left: 340px;
  top: -17px;
  background: repeating-linear-gradient(to bottom, #191919, #191919 1px, #2f2f2f 1px, #2f2f2f 2px);
}

.knob-right:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 3px;
  left: 10px;
  top: 5px;
  background: #2f2f2f;
}

.knob {
  position: absolute;
  height: 55px;
  width: 60px;
  border-radius: 50%;
  left: 60px;
  top: 50px;
  border: 3px solid #191919;
  border-bottom: 5px solid #191919;
  box-shadow: inset 0px 0px 40px 6px #191919;
  background: #383C3D;
  z-index: 3;
}

.knob:after {
  position: absolute;
  content: "";
  height: 55px;
  width: 60px;
  border-radius: 50%;
  left: 210px;
  border: 3px solid #191919;
  border-bottom: 5px solid #191919;
  box-shadow: inset 0px 0px 40px 6px #191919;
  background: #383C3D;
  z-index: 3;
}

.button {
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  left: 320px;
  top: 160px;
  background: #383C3D;
  border: 2px solid #e0be66;
  z-index: 4;
}

.button:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 5px;
  border-radius: 10px;
  left: -250px;
  top: -10px;
  background: #2f2f2f;
  z-index: 4;
  border-top: 3px solid #383C3D;
}

.button:after {
  position: absolute;
  content: "";
  height: 10px;
  width: 12px;
  border-radius: 50%;
  left: -254px;
  top: -2px;
  background: #2f2f2f;
  z-index: 3;
  border: solid 1px #000;
  border-bottom: 3px solid #000;
}

.dot {
  position: absolute;
  height: 5px;
  width: 5px;
  left: 120px;
  top: 130px;
  border-radius: 50%;
  background: #e0be66;
  z-index: 4;
}

.dot:before {
  position: absolute;
  content: "";
  height: 5px;
  width: 5px;
  left: 155px;
  border-radius: 50%;
  background: #e0be66;
  z-index: 4;
}

.arm {
  position: absolute;
  height: 12px;
  width: 30px;
  left: 35px;
  top: 37px;
  background: #383C3D;
}

.arm:before {
  position: absolute;
  content: "";
  height: 70px;
  width: 5px;
  left: 12px;
  top: 3px;
  background: #383C3D;
  z-index: 5;
}

.arm:after {
  position: absolute;
  content: "";
  height: 40px;
  width: 5px;
  left: 5px;
  top: 70px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transform: rotate(20deg);
  background: #383C3D;
  z-index: 5;
}

.line-1 {
  position: absolute;
  height: 60px;
  width: 3px;
  left: 30px;
  top: 110px;
  background: #383C3D;
}

.line-1:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 3px;
  left: 13px;
  background: #383C3D;
}

.line-1:after {
  position: absolute;
  content: "";
  height: 60px;
  width: 3px;
  left: 26px;
  background: #383C3D;
}

.line-4 {
  position: absolute;
  height: 40px;
  width: 3px;
  left: 68px;
  top: 110px;
  background: #383C3D;
}

.line-4:before {
  position: absolute;
  content: "";
  height: 60px;
  width: 3px;
  left: 13px;
  background: #383C3D;
}

.line-4:after {
  position: absolute;
  content: "";
  height: 40px;
  width: 3px;
  left: 26px;
  background: #383C3D;
}

.line-7 {
  position: absolute;
  height: 60px;
  width: 3px;
  left: 107px;
  top: 110px;
  background: #383C3D;
}

.line-7:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 3px;
  left: 13px;
  background: #383C3D;
}

.line-7:after {
  position: absolute;
  content: "";
  height: 60px;
  width: 3px;
  left: 26px;
  background: #383C3D;
}

.line-10 {
  position: absolute;
  height: 40px;
  width: 3px;
  left: 147px;
  top: 110px;
  background: #383C3D;
}

.line-10:before {
  position: absolute;
  content: "";
  height: 60px;
  width: 3px;
  left: 13px;
  background: #383C3D;
}

.line-10:after {
  position: absolute;
  content: "";
  height: 40px;
  width: 3px;
  left: 26px;
  background: #383C3D;
}

.line-13 {
  position: absolute;
  height: 60px;
  width: 3px;
  left: 185px;
  top: 110px;
  background: #383C3D;
}

.line-13:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 3px;
  left: 13px;
  background: #383C3D;
}

.line-13:after {
  position: absolute;
  content: "";
  height: 60px;
  width: 3px;
  left: 26px;
  background: #383C3D;
}

.line-16 {
  position: absolute;
  height: 40px;
  width: 3px;
  left: 223px;
  top: 110px;
  background: #383C3D;
}

.line-16:before {
  position: absolute;
  content: "";
  height: 60px;
  width: 3px;
  left: 13px;
  background: #383C3D;
}

.line-16:after {
  position: absolute;
  content: "";
  height: 40px;
  width: 3px;
  left: 26px;
  background: #383C3D;
}

.line-19 {
  position: absolute;
  height: 60px;
  width: 3px;
  left: 263px;
  top: 110px;
  background: #383C3D;
}

.keyboard {
  font-family: "Raleway", sans-serif;
  font-size: 0.65em;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #191919;
}

.keyq {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 22px;
  top: 125px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyshift {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 22px;
  top: 155px;
  font-size: 5px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.key2 {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 36px;
  top: 110px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyA {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 35px;
  top: 140px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyW {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 49px;
  top: 125px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyZ {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 49px;
  top: 155px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.key3 {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 61px;
  top: 110px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyS {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 61px;
  top: 140px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyE {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 74px;
  top: 125px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyX {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 74px;
  top: 155px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.key4 {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 87px;
  top: 110px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyD {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 87px;
  top: 140px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyR {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 100px;
  top: 125px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyC {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 100px;
  top: 155px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.key5 {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 113px;
  top: 110px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyF {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 113px;
  top: 140px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyT {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 125px;
  top: 125px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyV {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 125px;
  top: 155px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.key6 {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 139px;
  top: 110px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyG {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 139px;
  top: 140px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyY {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 153px;
  top: 125px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyB {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 153px;
  top: 155px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.key7 {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 167px;
  top: 110px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyH {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 167px;
  top: 140px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyU {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 180px;
  top: 125px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyN {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 180px;
  top: 155px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.key8 {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 191px;
  top: 110px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyJ {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 191px;
  top: 140px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyI {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 204px;
  top: 125px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyM {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 204px;
  top: 155px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.key9 {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 216px;
  top: 110px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyK {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 216px;
  top: 140px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyO {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 228px;
  top: 125px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keycomma {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 228px;
  top: 155px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.key0 {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 242px;
  top: 110px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyP {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 242px;
  top: 140px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keyback {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 255px;
  top: 125px;
  font-size: 5px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.keydot {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 255px;
  top: 155px;
  border-radius: 50%;
  background: #191919;
  border: 2px solid #e0be66;
}

.barkey {
  position: absolute;
  height: 7px;
  width: 180px;
  left: 60px;
  top: 175px;
  border: 2px solid #e0be66;
  border-radius: 5px;
  background: #191919;
}